.layout-cabecalho {
    height: 80px;
    border-bottom: 1px solid #CCC;
}

.layout-planos {
    padding: 80px 0;
}

.layout-principal {
    padding: 80px 0;
    background-color: #127d00;
}

.layout-depoimento {
    padding: 80px 0;
    background-color: #e7e7e7;
}

.layout-rodape {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #484848;
    color: #e7e7e7;
}

.layout-assinatura {
    margin-top: 60px;
    /* background-color: #e7e7e7; */
}

